#canvasContainer {
  position: relative;
  display: inline-block;
  border-style: dashed;
  padding: 0;
}

#canvasTopRightText {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
}

#canvasBottomLeftText {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
}

#editorContainer {
  float: left;
}

.floatContainer {
  position: relative;
}

.horizontallyCentered {
  margin: auto;
  width: clamp(200px, 90%, 1200px);
}

footer {
  border-top: thick double green;
}
